body {
    background-color: white;
    font-size: 16px;
    padding: 60 0 0 60;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    left: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

a {
    color: black;
}

p {
    margin: 20;
}

#header {
    top: 0;
    margin-right: 100;
    padding: 20px;
    padding-left: 0;
    position: relative;
    min-height: 30px;
}

#header h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 5 5 5 5;
}

nav {
    display: block;
    position: relative;
    top: 50;
    left: 0;
    width: 150px;
}

nav h1{
}

nav ul{
    padding: 0;
    margin-top:5px;
}

nav ul ul{
    margin-left: 15px;
}

nav li {
    padding: 5px;
    display: block;
    min-width: 110px;
    text-align: left;
}

nav a:hover {
    text-decoration: underline;
}

nav a{
    text-decoration: none;
}

canvas {
    margin: 20;
    border: 1px solid black;
}

nav a.active {
    text-decoration: underline;
    color: white;
    background: black;
}

#nav-placeholder {
    float: left;
}
.content{
    display: block;
    z-index:0;
    float:left;
}

